{% extends 'base.html' %}

{% load static %}
{% block title %} Kayıt Ol - Engin Elektronik  {% endblock %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="background-image: url({% static 'images/arka.webp' %});  background-position:right center">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px;">
{% include 'includes/alerts.html' %}
			<article class="card-body" style="padding:1.25rem">
		<header class="mb-4"><h4 class="flex text-2xl font-bold text-left">Kaydol</h4></header>

		<form action="{% url 'register' %}" method="POST">
			{% csrf_token %}
			<div class="form-row">
					<div class="col form-group">
						<label>Ad</label>
						{{ form.first_name }}
					</div> <!-- form-group end.// -->

					<div class="col form-group">
						<label>Soyad</label>
						{{ form.last_name }}
					</div> <!-- form-group end.// -->
			</div> <!-- form-row end.// -->

				<div class="form-row">
					<div class="form-group col-md-6">
					  <label>Email</label>
					 {{ form.email }}
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
					  <label>Telefon</label>
						{{ form.phone_number }}
					</div> <!-- form-group end.// -->
				</div> <!-- form-row.// -->
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Şifre</label>
					 {{ form.password }}
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
						<label>Şifreyi Tekrarla</label>
					    {{ form.confirm_password }}
					</div> <!-- form-group end.// -->
				</div>
			    <div class="form-group">
			        <button type="submit" class="font-semibold bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 btn-block py-2 text-white rounded-lg focus:outline-none">Kaydol</button>
			    </div> <!-- form-group// -->
					{{ form.email.errors }}
					{{ form.non_field_errors }}
			</form>

		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Hesabın var mı? <a href="{% url 'login' %}">Giriş Yap</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}
