
{% load static %}
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row flex">
			<div class="col-md-3 pl-0 mr-10">
				{% for setting in setting %}
				<span class="ml-1">{{ setting.copy }}</span>
			</div>


				<span class="ml-1"><i class="fa fa-phone"></i> {{ setting.telefon }}</span>&nbsp;&nbsp;
				<a class="ml-1" href="https://goo.gl/maps/U6h5JE1MKjGA6XeK8" target="_blank">
					<i class="fa fa-map-marker-alt"></i> {{ setting.adres }}</a>&nbsp;&nbsp;
					<span class="ml-1"><i class="fa-solid fa-clock"></i> {{ setting.saat }}</span>
{% endfor %}
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

<!-- thumbnail resim geçiş -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" async></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>

<!-- şifre göster -->
<script>
	$(document).ready(function() {
    $("#show_hide_password a").on('click', function(event) {
        event.preventDefault();
        if($('#show_hide_password input').attr("type") == "text"){
            $('#show_hide_password input').attr('type', 'password');
            $('#show_hide_password i').addClass( "fa-eye-slash" );
            $('#show_hide_password i').removeClass( "fa-eye" );
        }else if($('#show_hide_password input').attr("type") == "password"){
            $('#show_hide_password input').attr('type', 'text');
            $('#show_hide_password i').removeClass( "fa-eye-slash" );
            $('#show_hide_password i').addClass( "fa-eye" );
        }
    });
});
</script>


<!-- yukarı ok -->
<script>
    $(window).scroll(function() {
        if ($(this).scrollTop() > 600) {
            $(".bas").fadeIn();
        } else {
            $(".bas").fadeOut();
        }
    })

    $(".bas").click(function() {
        $("html, body").animate({
            scrollTop: 0
        }, 600);
        return false;
    })
</script>


</body>
</html>
