{% extends "base.html" %}
{% load static %}

{% block title %}{{ single_product.product_name }} - Engin Elektronik{% endblock %}
{% block description %}{{ single_product.product_name }} - {{ single_product.description | safe }}  {% endblock %}
{% block keywords %}{{ single_product.tags }}{% endblock %}

{% block content %}

<section class="section-content padding-y bg">
<div class="container">

	<ul class="breadcrumb" style="margin-top: -15px; margin-bottom: 5px;">
		<li><a class="text-normal" href="{% url 'home' %}">Anasayfa&nbsp;»</a></li>
		<li><a class="text-normal" href="{{ categories.get_url }}">&nbsp;{{ categories.category_name }} »&nbsp;</a></li>
		<li class="text-normal">{{ single_product.product_name }}</li>
	</ul>
	<span class="text-normal">Satışa Sunulduğu Tarih: {{ single_product.created_date }}</span>

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card mt-1">
	<div class="row no-gutters">
		<aside class="col-md-5">

<article class="gallery-wrap">
	<div class="img-big-wrap mainImage">
<center>
	<img src="{{ single_product.images.url }}" alt="ürün resmi:{{single_product.product_name}}" style="height:360px;"></img>
	<a href="{{ single_product.images.url }}" target="_blank"><i class="fa-solid fa-magnifying-glass"></i> görseli büyütmek için tıkla</a>
</center>
	</div> <!-- img-big-wrap.// -->
</article> <!-- gallery-wrap .end// -->

<ul class="thumb">
	<li>
		<a href="{{ single_product.images.url }}" target="mainImage"><img src="{{ single_product.images.url }}" class="inline rounded-lg mr-2" alt="Product Image"></a>
		{% for i in product_gallery %}
		<a href="{{i.image.url}}" target="mainImage"><img src="{{i.image.url}}" class="inline rounded-lg" alt="Product Image_Small"></a>
		{% endfor %}
		</li>
	</ul>

		</aside>
		<main class="col-md-7 border-left">



<div class="row">
	<!-- Default dropright button -->
	<div class="btn-group dropright">
	  <button type="button" class="btn btn-slate rounded-circle ml-3 hover:bg-slate-50" style="box-shadow: 0 1px 0px 0 rgb(0 0 0 / 10%);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <i class="fa-solid fa-circle-info" style="margin-top:7px; margin-left:-1px;"></i>
	  </button>
		<div class="dropdown-menu w-96  ml-2 border-slate-100 hover:bg-slate-50 break-all md:break-all">
					Bilgi: Ürünlerimiz sağlam çalışır bir şekilde sunul-<br>maktadır, stoklar günceldir.
				</div>
	</div>
</div>



			<form action="{% url 'add_cart' single_product.id  %}" method="POST">
				{% csrf_token %}
<article class="content-body" style="margin-left: -25px;">

<h2 class="flex text-3xl font-bold mb-2 mt-2">{{ single_product.product_name }}</h2>

<div class="mb-3">
 <b>Marka:&nbsp;</b>{{ single_product.brand }}<br>
 <b>Durum:&nbsp;</b>{{ single_product.durum }}<br>
 <b>Stokta Kalan:&nbsp;</b>{{ single_product.stock }} Adet
</div>


<b class="text-base text-md">Bu ürün hakkında:</b>
<span class="text-base">{{ single_product.description | safe }} </span>
<br>

<hr class="mb-2">
<br>
{% if single_product.stock <= 0 %}
	<h5 class="text-xl text-gray-500"><b>Bu ürün satıştan kaldırılmıştır</b></h5>
	<span class="text-base">Satıştan Kaldırıldığı Tarih: {{ single_product.modified_date }}</span>
	{% else %}
	<div>
	<span class="price h4">{{ single_product.price }} ₺</span>
		<button type="submit" class="btn bg-blue-600 hover:bg-blue-700 text-white focus:ring-3 focus:ring-blue-300 -mt-3 ml-3"> <span class="text">&nbsp;Sepete Ekle</span> <i class="fa-solid fa-cart-shopping"></i></button>
	</div>
<br>


		<a href="https://wa.me/905451973471" target="_blank">
			<button type="button" class="btn bg-emerald-600 hover:bg-emerald-700 text-white focus:ring-3 mt-3">
				<i class="fa fa-phone"></i> Whatsapp Sipariş (0545-197-3471)</button></a>
		{% endif %}

</article> <!-- product-info-aside .// -->
</form>
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>

</div> <!-- container .//  -->

</section>

<section class="pt-3 pb-3">
    <div class="container mx-auto">
        <div class="row">
            <h3 class="flex card-title mb-4 ml-2 text-2xl font-bold break-all md:break-all">{{ categories.category_name }} Ürünler</h3>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
															{% for product in products %}
																<div class="col-md-2">
																<figure class="card card-product-grid">
																	<div class="img-wrap">
																		<a href="{{ product.get_absolute_url }}"> <img class="rounded hover:scale-105 transition duration-1000 ease-in-out" src="{{ product.images.url }}" alt="{{ product.product_name }}" width="1000" height="1000"></a>
																	</div> <!-- img-wrap.// -->
																	<figcaption class="info-wrap">
																		<div class="fix-height">
																			<span class="badge badge-pill badge-light" style="font-size:11px; margin-left: -5px; margin-top:-3px">Stok: {{product.stock}} Adet</span>
																			<a href="{{ product.get_absolute_url }}" class="title">{{ product.product_name }}</a>
																		</div>
																					</figcaption>
																					<div class="col">
																		<span class="price" style="margin-right: 70px;">{{ product.price }} ₺</span>
																		<a href="{{ product.get_absolute_url }}" class="btn btn-primary"
																		style="width: 120px; margin-bottom: 5px;">İncele</a>
															</div>
																</figure>
																</div>
																{% endfor %}
                            </div>
                        </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}
