{% extends "base.html" %}
{% load static %}
{% block title %}
{% if categories.category_name %}
{{ categories.category_name }} - {{ setting.title }}
{% else %}
Arama - Engin Elektronik
{% endif %}
{% endblock %}
{% block description %}Tv satışı-tamiri, kart satışı-tamiri, kumanda satışı-tamiri, tv ayak satışı, iptv cihaz satışı-kodu, 2.el tv satışı, kablo satışı, uydu alıcısı satışı{% endblock %}
{% block content %}

<!-- gelişmiş arama yap -->
					<div class="container mt-1">
<svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 inline"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
Filtreye Göre Ara:<button data-popover-target="popover-right" class="focus:outline-none" data-popover-placement="right" type="button"><svg class="w-4 h-4 ml-2 text-gray-400 hover:text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg></button>
<div data-popover id="popover-right" role="tooltip" class="w-48 absolute z-10 invisible inline-block text-sm font-light text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">

        <h3 class="text-md text-gray-900 dark:text-white">Marka veya Kategori'ye göre<br>arama yapılabilir</h3>

    <div data-popper-arrow></div>
</div>


            <form method="GET" action="{% url 'filter_results' %}">
	<div class="col-lg col-sm col-md col-6 flex-grow-0 mt-1">

		<span class="ml-1">Marka:</span>
	<!--	 {{ myFilter.form.brand }} -->
	<select name="brand" id="id_brand" class="bg-zinc-100 rounded h-6 ml-1">
		<option value="" selected=""></option>
<option value="ALBA">alba</option>
<option value="Arçelik-Beko-Grundig-Altus">arcelik-beko-grundig-altus</option>
<option value="AWOX">awox</option>
<option value="AXEN">axen</option>
<option value="Dijitsu">dijitsu</option>
<option value="Dreamstar">dreamstar</option>
<option value="GEEPAS">geepas</option>
<option value="Hisense">hisense</option>
<option value="Homstar">homstar</option>
<option value="LG">lg</option>
<option value="Lifemaxx">lifemaxx</option>
<option value="Navitech">navitech</option>
<option value="Next">next</option>
<option value="Nordmende">nordmende</option>
<option value="ONVO">onvo</option>
<option value="Osawa">osawa</option>
<option value="Panasonic">panasonic</option>
<option value="PHILIPS">philips</option>
<option value="Premier">premier</option>
<option value="Profilo">profilo</option>
<option value="ROWELL">rowell</option>
<option value="SAMSUNG">samsung</option>
<option value="SANYO">sanyo</option>
<option value="SEG">seg</option>
<option value="Skytech">skytech</option>
<option value="SUNNY">sunny</option>
<option value="SUNNY-AXEN">sunny-axen</option>
<option value="SONY">sony</option>
<option value="Vestel-Toshiba">vestel-toshiba</option>
<option value="YUMATU">yumatu</option>
			</select>

		<span class="ml-1">Kategori:</span>
	 <!--   {{ myFilter.form.category }} -->
	 <select name="category" id="id_category" class="bg-zinc-100 rounded h-6 ml-1">
		<option value="" selected=""></option>
 <option value="25">Android Box</option>
 <option value="33">Arçelik-Beko-Grundig-Altus Anakart</option>
 <option value="34">Arçelik-Beko-Grundig-Altus Powerboard</option>
 <option value="20">Awox Anakart</option>
 <option value="8">Diğer Anakartlar</option>
 <option value="9">Diğer Powerboardlar</option>
 <option value="35">Inverter Boardlar</option>
 <option value="10">Led Driver Boardlar</option>
 <option value="4">LG Anakart</option>
 <option value="5">LG Powerboard</option>
 <option value="2">Philips Anakart</option>
 <option value="3">Philips Powerboard</option>
 <option value="16">Profilo Anakart</option>
 <option value="13">Samsung Anakart</option>
 <option value="14">Samsung Powerboard</option>
 <option value="29">Sony Anakart</option>
 <option value="30">Sony Powerboard</option>
 <option value="12">Sunny-Axen Anakart</option>
 <option value="18">T-con Boardlar</option>
 <option value="37">Tv Led Bar</option>
 <option value="36">Tweeter Tiz</option>
 <option value="22">Uydu Alıcısı</option>
 <option value="32">Uydu Alıcı Modüller</option>
 <option value="21">Vestel-Toshiba Anakart</option>
 <option value="26">Vestel-Toshiba Powerboard</option>
 <option value="28">Ysus Board</option>
 <option value="31">Yumatu Anakart</option>
 <option value="27">Zsus Board</option>
			</select>
		<button class="btn bg-gray-200 hover:bg-zinc-300 mt-1 ml-1" type="submit">Filtreyi Ara</button>
		</div>
            </form>
</div>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="padding-top:10px">
<div class="container">
<div class="row">

	<aside class="col-md-3 md:flex" style="margin-left: -15px;">
<div class="flex card w-72" style="height:1200px;">
	<article class="filter-group">
		<header class="card-header">
			<i class="icon-control fa fa-list"></i>
				<h6 class="text-md font-bold text-blue-600">Kategoriler</h6>
		</header>
		<div class="filter-content show" id="collapse_1">
			<div class="card-body pl-1.5" style="margin-top: -15px; margin-left: -3px">
				<ul class="list-menu">
			{% for category in links %}
 <li class="mt-3">
	 <a href="{{ category.get_url }}" class="ml-3">{{ category.category_name }}</a>
 </li>
		 {% endfor %}
				</ul>
			</div>
		</div>
	</article>
</div>
	</aside> <!-- col.// -->

	<main class="col-md-9">

<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			{% if categories %}
			<span class="mr-md-auto"> <b> {{ product_count }} </b> ürün bulundu </span>
{% endif %}
		</div>
		<ul class="breadcrumb mt-1">
{% if categories %}
  <li class="active"><a href="{% url 'home'  %}">Anasayfa&nbsp;</a></li>
	<svg viewBox="0 0 24 24" width="22" height="22" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="9 18 15 12 9 6"></polyline></svg>&nbsp;
	<li>{{ categories }}</li>
	{% else %}
	<li>aramaya göre çıkan sonuçlar:</li>
{% endif %}
</ul>
</header><!-- sect-heading -->

<nav class="mb-7" aria-label="Page navigation sample">  <!-- nav -->
	{% if products.has_other_pages %}
  <ul class="pagination">
		{% for i in products.paginator.page_range %}
		{% if products.number == i %}
    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
		{% else %}
		<li class="page-item"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
		{% endif %}
		{% endfor %}
  </ul>
		{% endif %}
</nav> <!-- nav // -->

<div class="row sagsol" style="margin-top: 3px;">
	{% if products %}
	{% for product in products %}
	<div class="col-md-4">
		<figure class="card card-product-grid rounded">
			<div class="img-wrap absolute hover:-translate-y-2.5 duration-1000">
				<a href="{{ product.get_absolute_url }}" target="_blank"> <img src="{{ product.webp.url }}"
				class="rounded" alt="{{ product.product_name }}" /></a>
				<span class="badge badge-pill badge-light" style="font-size:11px; margin-left: -5px; margin-top:-3px">Stok: {{product.stock}} Adet</span>
				{% if product.yeni %}
<span class="badge  badge-danger badge-yeni" style="font-size:11px; margin-left: 243px; margin-top:-3px">
&nbsp;{{product.yeni}}&nbsp;</span>
				{% endif %}
			</div>
			<figcaption class="info-wrap">
				<div class="fix-height">
					<div style="margin-left: -5px; margin-top: 215px;" class="badge badge-pill badge-light hover:bg-gray-300">
					<a href="{{ product.category.get_url }}" target="_blank" class="font-semibold hover:text-gray-700 break-all">{{ product.category }}</a>
					</div>
					<a href="{{ product.get_absolute_url }}" target="_blank" class="title mt-4">{{ product.product_name }}</a>
					<div class="price-wrap mt-2">
						{% if product.price <= 0 %}
							<h5 style="color: gray"><b>Stokta kalmadı, sipariş için iletişime geçin</b></h5>
							{% else %}
					</div>
				</div>
							</figcaption>
							<div class="col">
				<span class="price" style="margin-right: 70px;">{{ product.price }} ₺</span>
				{% endif %}
				<a href="{{ product.get_absolute_url }}" class="btn btn-primary"
				style="width: 120px; margin-bottom: 5px;">İncele</a>
	</div>
		</figure>
	</div>
	{% endfor %}
	{% else %}
</div> <!-- row end.// -->
<img src="{% static 'images/notfound.png' %}" style="margin-left: 130px; margin-top: -20px;"></img>
<h2 class="font-semibold text-xl" style="margin-left: 60px;">Arama bulunamadı.</h2>
</div>
 {% endif %}
</div>


<!--yukarı --> <a href="#" class="bas" aria-label="yukarı çık" style="width:45px; height:45px; display:none; background-color: #a1d5e3; border-radius: 50px; box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%); position:fixed; padding:8px; z-index:100; right:0; bottom:0; margin-bottom: 10px; margin-right:3px; opacity:0.9;">
<svg viewBox="0 0 24 24" width="55" height="35" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1 -ml-3.5 -mt-1"><polyline points="18 15 12 9 6 15"></polyline></svg>
</a> <!-- yukarı // -->

<nav class="mt-4" aria-label="Page navigation sample"> <!-- paginator -->
	{% if products.has_other_pages %}
  <ul class="pagination">
		{% for i in products.paginator.page_range %}
		{% if products.number == i %}
    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
		{% else %}
		<li class="page-item"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
		{% endif %}
		{% endfor %}
  </ul>
		{% endif %}
</nav> <!-- paginator // -->

</section>
<!-- ========================= SECTION CONTENT END// ======== !-->
{% endblock %}
