{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="row">
	<aside class="col-lg-9">
    <div class="card">
      <h4 class="text-xl">Sayın, {{ user.first_name }}</h4>
      <hr>
        <h3 class="text-xl">Siparişiniz Bize Gönderildi!</h3>
				<h3 class="text-xl">Emailinize Gelen Bilgi Mesajınızı Kontrol Ediniz..</h3>
        <h3 class="text-xl">Sipariş Kodunuz: {{ order.order_number }}</h3>

    </div>
</aside> <!-- col.// -->
</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->
</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
